{% if random == 1 or random == 33%}
    <a href="http://www.a-c-engine.com/id/4702-8805-103-6c27/" target="_blank"><img src="http://www2.a-c-engine.com/ad/8805.jpg" width="700" height="200" alt="アイドル系動画配信サイト「いちごだいふく」" border="0" /></a>
{% elif random == 3 %}
    <a href="http://www.a-c-engine.com/id/4650-8692-103-6c27/" target="_blank"><img src="http://www2.a-c-engine.com/ad/8692.jpg" width="700" height="200" alt="アイドル系動画配信サイト「いちごだいふく」" border="0" /></a>
{% elif random == 4 %}
    <a href="http://www.a-c-engine.com/id/4615-8642-103-6c27/" target="_blank"><img src="http://www2.a-c-engine.com/ad/8642.jpg" width="700" height="200" alt="アイドル系動画配信サイト「いちごだいふく」" border="0" /></a>
{% elif random == 5 %}
    <a href="http://www.a-c-engine.com/id/4590-8571-103-6c27/" target="_blank"><img src="http://www2.a-c-engine.com/ad/8571.jpg" width="700" height="200" alt="アイドル系動画配信サイト「いちごだいふく」" border="0" /></a>
{% elif random == 6 %}
    <a href="http://www.a-c-engine.com/id/4520-8338-103-6c27/" target="_blank"><img src="http://www2.a-c-engine.com/ad/8338.jpg" width="700" height="200" alt="アイドル系動画配信サイト「いちごだいふく」" border="0" /></a>
{% elif random == 7 %}
    <a href="http://www.a-c-engine.com/id/4438-8014-103-6c27/" target="_blank"><img src="http://www2.a-c-engine.com/ad/8014.jpg" width="700" height="200" alt="アイドル系動画配信サイト「いちごだいふく」" border="0" /></a>
{% elif random == 8 %}
    <a href="http://www.a-c-engine.com/id/4366-7737-103-6c27/" target="_blank"><img src="http://www2.a-c-engine.com/ad/7737.jpg" width="700" height="200" alt="アイドル系動画配信サイト「いちごだいふく」" border="0" /></a>
{% elif random == 9 %}
    <a href="http://www.a-c-engine.com/id/4354-7707-103-6c27/" target="_blank"><img src="http://www2.a-c-engine.com/ad/7707.jpg" width="700" height="200" alt="アイドル系動画配信サイト「いちごだいふく」" border="0" /></a>
{% elif random == 10 %}
    <a href="http://www.a-c-engine.com/id/4308-7570-103-6c27/" target="_blank"><img src="http://www2.a-c-engine.com/ad/7570.jpg" width="700" height="200" alt="アイドル系動画配信サイト「いちごだいふく」" border="0" /></a>
{% elif random == 11 %}
    <a href="http://www.a-c-engine.com/id/4298-7522-103-6c27/" target="_blank"><img src="http://www2.a-c-engine.com/ad/7522.jpg" width="700" height="200" alt="アイドル系動画配信サイト「いちごだいふく」" border="0" /></a>
{% elif random == 12 %}
    <a href="http://www.a-c-engine.com/id/4278-7486-103-6c27/" target="_blank"><img src="http://www2.a-c-engine.com/ad/7486.jpg" width="700" height="200" alt="アイドル系動画配信サイト「いちごだいふく」" border="0" /></a>
{% elif random == 13 %}
    <a href="http://www.a-c-engine.com/id/4150-6878-103-6c27/" target="_blank"><img src="http://www2.a-c-engine.com/ad/6878.jpg" width="700" height="200" alt="アイドル系動画配信サイト「いちごだいふく」" border="0" /></a>
{% elif random == 14 %}
    <a href="http://www.a-c-engine.com/id/4002-6609-103-6c27/" target="_blank"><img src="http://www2.a-c-engine.com/ad/6609.jpg" width="700" height="200" alt="アイドル系動画配信サイト「いちごだいふく」" border="0" /></a>
{% elif random == 15 %}
    <a href="http://www.a-c-engine.com/id/3915-6434-103-6c27/" target="_blank"><img src="http://www2.a-c-engine.com/ad/6434.jpg" width="700" height="200" alt="アイドル系動画配信サイト「いちごだいふく」" border="0" /></a>
{% elif random == 16 %}
    <a href="http://www.a-c-engine.com/id/2977-5219-103-6c27/" target="_blank"><img src="http://www2.a-c-engine.com/ad/5219.jpg" width="700" height="200" alt="アイドル系動画配信サイト「いちごだいふく」" border="0" /></a>
{% elif random == 17 %}
    <a href="http://www.a-c-engine.com/id/2881-5034-103-6c27/" target="_blank"><img src="http://www2.a-c-engine.com/ad/5034.jpg" width="700" height="200" alt="アイドル系動画配信サイト「いちごだいふく」" border="0" /></a>
{% elif random == 18 %}
    <a href="http://www.a-c-engine.com/id/2366-4104-103-6c27/" target="_blank"><img src="http://www2.a-c-engine.com/ad/4104.jpg" width="700" height="200" alt="アイドル系動画配信サイト「いちごだいふく」" border="0" /></a>
{% elif random == 19 %}
    <a href="http://www.a-c-engine.com/id/2338-4080-103-6c27/" target="_blank"><img src="http://www2.a-c-engine.com/ad/4080.jpg" width="700" height="200" alt="アイドル系動画配信サイト「いちごだいふく」" border="0" /></a>
{% elif random == 20 %}
    <a href="http://www.a-c-engine.com/id/2001-3601-103-6c27/" target="_blank"><img src="http://www2.a-c-engine.com/ad/3601.jpg" width="700" height="200" alt="アイドル系動画配信サイト「いちごだいふく」" border="0" /></a>
{% elif random == 21 %}
    <a href="http://www.a-c-engine.com/id/1676-3284-103-6c27/" target="_blank"><img src="http://www2.a-c-engine.com/ad/3284.jpg" width="700" height="200" alt="アイドル系動画配信サイト「いちごだいふく」" border="0" /></a>
{% elif random == 22 %}
    <a href="http://www.a-c-engine.com/id/1582-3169-103-6c27/" target="_blank"><img src="http://www2.a-c-engine.com/ad/3169.jpg" width="700" height="200" alt="アイドル系動画配信サイト「いちごだいふく」" border="0" /></a>
{% elif random == 23 %}
    <a href="http://www.a-c-engine.com/id/1498-3072-103-6c27/" target="_blank"><img src="http://www2.a-c-engine.com/ad/3072.jpg" width="700" height="200" alt="アイドル系動画配信サイト「いちごだいふく」" border="0" /></a>
{% elif random == 24 %}
    <a href="http://www.a-c-engine.com/id/1404-2697-103-6c27/" target="_blank"><img src="http://www2.a-c-engine.com/ad/2697.jpg" width="700" height="200" alt="アイドル系動画配信サイト「いちごだいふく」" border="0" /></a>
{% elif random == 25 %}
    <a href="http://www.a-c-engine.com/id/1287-2475-103-6c27/" target="_blank"><img src="http://www2.a-c-engine.com/ad/2475.jpg" width="700" height="200" alt="アイドル系動画配信サイト「いちごだいふく」" border="0" /></a>
{% elif random == 26 %}
    <a href="http://www.a-c-engine.com/id/1257-2451-103-6c27/" target="_blank"><img src="http://www2.a-c-engine.com/ad/2451.jpg" width="700" height="200" alt="アイドル系動画配信サイト「いちごだいふく」" border="0" /></a>
{% elif random == 27 %}
    <a href="http://www.a-c-engine.com/id/963-2204-103-6c27/" target="_blank"><img src="http://www2.a-c-engine.com/ad/2204.jpg" width="700" height="200" alt="アイドル系動画配信サイト「いちごだいふく」" border="0" /></a>
{% elif random == 28 %}
    <a href="http://www.a-c-engine.com/id/412-1768-103-6c27/" target="_blank"><img src="http://www2.a-c-engine.com/ad/1768.jpg" width="700" height="200" alt="アイドル系動画配信サイト「いちごだいふく」" border="0" /></a>
{% elif random == 29 %}
    <a href="http://www.a-c-engine.com/id/51-1841-103-6c27/" target="_blank"><img src="http://www2.a-c-engine.com/ad/1841.jpg" width="700" height="200" alt="アイドル系動画配信サイト「いちごだいふく」" border="0" /></a>
{% elif random == 30 %}
    <a href="http://www.a-c-engine.com/id/387-1732-103-6c27/" target="_blank"><img src="http://www2.a-c-engine.com/ad/1732.jpg" width="700" height="200" alt="アイドル系動画配信サイト「いちごだいふく」" border="0" /></a>
{% elif random == 31 %}
    <a href="http://www.a-c-engine.com/id/4-1586-103-6c27/" target="_blank"><img src="http://www2.a-c-engine.com/ad/1586.jpg" width="700" height="200" alt="アイドルイメージ動画配信サイト いちごだいふく" border="0" /></a>
{% elif random == 32 %}
    <a href="http://www.a-c-engine.com/id/4-1577-103-6c27/" target="_blank"><img src="http://www2.a-c-engine.com/ad/1577.jpg" width="700" height="200" alt="アイドルイメージ動画配信サイト いちごだいふく" border="0" /></a>
{% end %}

