<!DOCTYPE html>
{% extends "main.html" %}

{% block header %} 
    <div id="title">
        <div id="explain">
            <a href="/">小中学生動画像まとめ掲示板(test)</a>
            <br>
            雑談・要望・情報交換に使ってください
            <br>
           <br>
            投稿方法:コメントを入力してPost
           <br>
            まだtest verなので、そのうちしっかりつくります
           <br>
       </div>
       <div id="personalinfo">
            あなたの情報:
            <p id="lolvbox">
            LoLv:<span id="lolv"></span>
            </p>
       </div>
       <div id="waiternum">
            <p id="num">
            閲覧者数は0人
            </p>
       </div>
    </div>
{% end %}

{% block rounge %}
     <div id="body">
          {% module Template("imagethread.html",manager = manager, thread=(roungethread)) %}
     </div>
{% end %}

{% block threads %}
        <div id="threadlist" class="textthreadlist">
          {% for image in reversed(imagethreads[-150:]) %}
            {% module Template("images.html", image = image, ressnum =  manager.ResponseManager.get_thread_responsenum(image["id"])) %}
          {% end %}
        </div>
{% end %}
